[Desktop Entry]
Version=1.0
Name=GFingerPoken
Comment=GFingerPoken logic game
Exec=gfpoken
Icon=gfpoken.png
Terminal=false
Type=Application
Categories=Game;LogicGame;
StartupNotify=false
